<!DOCTYPE html>
<html>
  <head>
    <title>LucasProBoxing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon-96x96.png">
    <link rel="stylesheet" href="">
     
    <script type="text/javascript">
		// Prevent dropdown menu from closing when click inside the form
			$(document).on("click", ".navbar-right .dropdown-menu", function(e){
				e.stopPropagation();
			});
    </script>
    

  </head>

  <body>
     
		<%= render 'home/header' %>
    

		<%= yield %>

		<%= render 'home/contact' %>
  	<%= render 'home/footer' %>



    <%# <button type="button" data-toggle="collapse" data-target="#style-switch" id="style-switch-button" class="btn btn-outline-danger btn-sm d-none d-lg-block"><i class="fa fa-youtube fa-2x"></i></button>
    <br> <br>
    <button type="button" data-toggle="collapse" data-target="#style-switch" id="style-switch-button" class="btn btn-primary btn-sm d-none d-lg-block"><i class="fa fa-facebook-square fa-2x"></i></button>
    <br><br> %>
   

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/sell/1-3-1/vendor/jquery/jquery.min.js"></script>
    
  </body>
</html>
